/* html */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Mooli', sans-serif;
    }
    
    html{
      scroll-behavior: smooth;
  }

    /* todo corpo da pagina */
    html, body {
      height: 100%;
      width: 100%;
      overflow-x: hidden; /* Impede scroll horizontal */
  }
  
  body {
      background-color: #c9c9c9;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
  }


.container-fluid{
    background-color: #0f1113;
    height: 200px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}


/* Estilo da navbar/ header */
.navbar {
  background-color: #fffdfd52;
  height: 200px;
  display: flex;
  align-items: center;
  padding: 10px 0; /* Mantém o padding vertical mas remove o horizontal */
  width: 100%;
  position: relative;
  margin: 0;
}

/* Caixa de navegação */
.navbar-nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Cor dos links na barra de navegação */
.nav-link {
  color: #fff;
  font-size: 19px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 10px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(255, 239, 16);
}
/* fim do navbar (header) */


/*Todas as imagens dos cards*/
.image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  perspective: 1000px; /* Cria espaço 3D para efeito de profundidade */
  margin-top: 40px; /* Espaçamento adicional */
}

.img-card{
  position: relative;
  overflow: hidden;
  border: 3px solid #000000c4;
  border-radius: 13px;
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform-origin: center center; /* Garante que o zoom seja centralizado */
  transform-style: preserve-3d;
}

.img-card img {
    width: 100%;
    height: 100%;
    border: 3px solid #000000c4;
    border-radius: 13px;
    display: block;
    object-fit: cover;
    transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.img-card:hover {
  z-index: 2; /* Garante que a imagem aumentada fique sobre outros elementos */
  box-shadow: 0 8px 30px rgba(0,0,0,0.3); /* Efeito de profundidade adicional */
  transform: scale(1.05) translateZ(20px);
  }

  .img-card:hover img {
    transform: scale(1.05); /* Zoom mais suave */
    cursor: pointer;
}
/* fim dos cards */


  /* Regras de mídia para telas menores */
@media screen and (max-width: 768px) {
    body {
        height: auto; /* Altura automática */
    }

    .navbar {
        height: 80px; /* Altura reduzida para telas menores */
    }

    .navbar-nav {
        margin: 20px; /* Margem reduzida para telas menores */
    }
}

/* Regras de mídia para telas maiores */
@media screen and (min-width: 1200px) {
    .img-card {
        margin-top: 40px; /* Espaçamento reduzido para telas maiores */
    }

    .modal-content {
        max-width: 600px; /* Largura aumentada para telas maiores */
    }
}
  
  /* Estilo das logos */
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-pokebola {
    width: 56px;
    height: auto;
  }
  
  .logo-central {
    max-height: 75px;
    height: auto;
    margin-left: 10px;
  }
  
  /* Media queries para responsividade */
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-nav {
      flex-direction: column;
      width: 100%;
      margin-top: 10px;
    }
  
    .nav-link {
      margin: 10px 0;
      width: 100%;
      text-align: center;
    }
  
    .logo-container {
      max-width: 300px;
    }
    .logo-pokebola {
      width: 56px;
      height: auto;
      }
      
      /* Estilo para a logo central */
      .logo-central {
        max-height: 75px;
      }
      
      /* Media query para telas menores */
      @media screen and (max-width: 768px) {
        .logo-pokebola {
            max-width: 100px; /* Reduzindo a largura da imagem para telas menores */
        }
      
        .logo-central {
            max-width: 180px; /* Reduzindo a largura da imagem para telas menores */

        }
      }}
  
      .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.9);
      }
      
      .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 430px;
        max-height: 450%;
        margin-top: 50px;
      }
      
      .close {
        color: white;
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
      }


      /* footer */
#footer {
  margin-top: 160px;
  padding: 50px 0px 20px 0px;
  width: 100vw;
  background-color: #0f1113;
  height: auto; /* Ajustado para não ocupar 100% da altura */
}

footer .column p {
  color: #ccc;
  margin-bottom: 2rem;
}

footer .column .socials {
  display: flex;
  justify-content: center; /* Alinha os itens horizontalmente */
  gap: 1.5rem;
  margin-bottom: 20px;
}

footer .column .socials a {
  color: #ccc;
  border: 2px solid #ccc;
  padding: 12px;
  font-size: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 48px;
  height: 48px;
}

footer .column .socials a:hover {
  color: #fff;
  background-color: #1d4ed8;
  border-color: #1d4ed8;
  transform: scale(1.15);
  box-shadow: 0px 6px 12px rgba(29, 78, 216, 0.4);
}

/* Estilização dos títulos e links do footer */
footer .column h4 {
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center; /* Centraliza o título */
}

footer .column > a {
  display: block;
  color: #ccc;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

footer .column > a:hover {
  color: #1d4ed8;
  transform: translateX(5px);
}

/* Copyright */
.copyright {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}

footer .socials-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

footer .socials-wrapper h4 {
  margin-bottom: 1rem;
}


.footer--area {
  display: flex;
}

.footer--logo {
  flex: 1;
}

.footer--links {
  display: flex;
  gap: 100px;
}

.footer--link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}



@media (max-width: 850px) {

  html {
      font-size: 13px;
  }

  .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0px 60px;
  }

  .info-cards {
      grid-template-columns: repeat(1, 1fr);  
  }
}

@media (max-width: 850px) {

  .menu-desktop {
      display: none;
  }

  .menu {
      display: none;
  }

  .menu-mobile.closed {
      display: none;
  }

  .menu-mobile.open {
      display: block;
  }


  .menu-mobile--icon {
      display: block;
  }

  .menu-mobile--item {
      padding: 15px;
      text-transform: uppercase;
      font-size: 1.2rem;
  }

  .menu-mobile--item:hover {
      background-color: #1991EB;
  }

  .banner {
      margin-top: 70px;
  }

  .banner-image {
      display: none;
  }

  .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0px 30px;
  }

  #about {
      flex-direction: column;
      gap: 50px;
  }

  .community--image {
      display: none;
  }

  .community--image--mobile {
      display: block;
      width: 100%;
  }

  .footer--area {
      flex-direction: column;
      align-items: center;
      gap: 40px;
  }

  .footer--links {
      gap: 50px;
  }

  .game-area {
      grid-template-columns: repeat(3, 1fr);
  }

  .filter-area {
      flex-direction: column;
  }
}

.scroll-top {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  bottom: 60px;
  right: 50px;
  background-color: #1d4ed8; /* Cor azul */
  color: white;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  padding: 25px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.scroll-top:hover {
  background-color: #1439a1; /* Cor mais escura ao passar o mouse */
}

.scroll-top.show {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 720px) {
  .scroll-top {
    padding: 15px;
    font-size: 18px;
  }
}
